/* ベース
---------------------------------- */

html
	height: 100%;
	font-size: 62.5%;

body
	init()

a
	&:link, &:visited
		siteLink()
	&:hover, &:active
		siteHover()

::selection
	background: DF_SELECT_BG_COLOR;
	color: DF_SELECT_TEXT_COLOR;

