// /* DEFAULT_VARIABLE */

//コンテンツ幅
PC_CT_WID = 960px
SP_CT_WID = 320px

//ブレイクポイント
PC_RES_WID = 1200px
TB_RES_WID = 1024px
SP_RES_WID = 768px
SP_SM_RES_WID = 600px


//カラー
DF_BG_COLOR = #FFF //背景色
DF_TEXT_COLOR = #333 //テキスト色

DF_SELECT_BG_COLOR = #F00 //選択時 背景色
DF_SELECT_TEXT_COLOR = #FFF //選択時 テキスト色
DF_URL_TEXT_COLOR = #386cbb //選択時 テキスト色



//フォント
DF_FONT = "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", 'Hiragino Kaku Gothic ProN', "メイリオ", sans-serif

// /* APPEND_VARIABLE */
SITE_COLOR = #F00 //サイトカラーなど




