extends include/_l_layout.pug

block vars
	- var RELATIVE_PATH = ""
	- var KEY = "home"
	- var PAGE = PAGES[KEY]

block contents
	.l-contentsBody
		.o-indexListBlock
			p
				a(href="index.html") 戻る
			p!= DUMMY_TEXT_800
			p
				img(src= RELATIVE_PATH + "images/contents/dummy_image01.png", alt="")
			p
				img(src= RELATIVE_PATH + "images/contents/dummy_image02.png", alt="")